body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    text-align: center;
    color: white;
}

.header-container {
    max-width: 1200px; /* Set the maximum width as needed */
    margin: 0 auto; /* Center the header */
}

.header-content {
    position: relative;
    height: 20vh; /* Adjust the height as needed */
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
}

.header-link {
    display: block;
    height: 100%;
}

.header-image {
    position: relative;
    height: 100%;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 
        0 0 10px rgba(9, 130, 211, 0.8), /* Stronger shadow */
        0 0 20px rgba(9, 130, 211, 0.8), /* Additional shadow for better contrast */
        0 0 30px rgba(0, 0, 0, 0.4); /* Further shadow for a more pronounced effect */
}


nav {
    background-color: #5272a1;
    color: white;
    text-align: center;
    padding: 0.5em 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
}

main section {
    margin-bottom: 2em;
}

.bio-content {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.bio-text {
    flex: 1;
}

/* General link styles */
a {
    color: inherit; /* Inherit the color from the parent element */
    text-decoration: none; /* Remove the underline */
}

/* Add hover effect if desired */
a:hover {
    color: #5272a1; /* Change to your preferred color on hover */
    text-decoration: underline; /* Optional: add underline on hover */
}

/* Specific styles for bio links if needed */
#bio a {
    color: #5272a1; /* Your preferred color for links in bio section */
}

#bio a:hover {
    color: #5272a1; /* Change to your preferred color on hover */
}


footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 1em 0;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

#publications-list, #news-list {
    list-style: none;
    padding: 0;
}

#publications-list li, #news-list li {
    margin-bottom: 1em;
    display: flex;
    align-items: flex-start;
}

#publications-list img, #news-list img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

#publications-list a, #news-list a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

#publications-list a:hover, #news-list a:hover {
    text-decoration: underline;
}

#publications-list .details, #news-list .details {
    display: flex;
    flex-direction: column;
}

#publications-list .description, #news-list .description {
    margin-top: 5px;
    font-style: italic;
    color: #666;
}

#contact {
    padding-bottom: 4em; /* Ensure there is enough space above the footer */
}
